/* Some styles reseting */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* App styles start here */
@font-face {
  font-family: 'HelveticaNeue-Light';
  src:  url('fonts/HelveticaNeueLight.eot?') format('eot'),
        url('fonts/HelveticaNeueLight.woff') format('woff'),
        url('fonts/HelveticaNeueLight.woff2') format('woff2');
}

@font-face {
  font-family: 'HelveticaNeue-Medium';
  src:  url('fonts/HelveticaNeueMedium.eot?') format('eot'),
        url('fonts/HelveticaNeueMedium.woff') format('woff'),
        url('fonts/HelveticaNeueMedium.woff2') format('woff2');
}

@font-face {
  font-family: 'HelveticaNeue-Bold';
  src:  url('fonts/HelveticaNeueBold.eot?') format('eot'),
        url('fonts/HelveticaNeueBold.woff') format('woff'),
        url('fonts/HelveticaNeueBold.woff2') format('woff2');
}

* {
  font-family: 'HelveticaNeue-Light', Helvetica, sans-serif;
  letter-spacing: 0.5px;
  color: #3e3d3f;
}

.container {
  position: absolute;
  width: 100%;
}

h1 {
  position: relative;
  margin: 1.4375rem 0 0.75rem 1.25rem;
  font-family: 'HelveticaNeue-Light', Helvetica, sans-serif;
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0.5px;;
  color: #006ea0;
}

.main-title-divider {
  position: relative;
  width: calc(100% - 1.25rem);
  left: 1.25rem;
  margin: 0;
  border: none;
  border-bottom: 1px solid #cacaca;
}

.calculator {
  position: relative;
  width: calc(100% - 1.25rem);
  margin: 1.25rem 0.625rem;

  .input-panel {
    padding: 0.9375rem 1.25rem 1.25rem;
    border-radius: 0.25rem;
    background: white;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
  }

  p {
    font-size: 0.75rem;
    line-height: 1.67;
    letter-spacing: 0.4px;
    color: #3e3d3f;
  }

  .panel-title-divider {
    position: relative;
    margin: 0.3125rem 0 1rem;
    border: none;
    border-bottom: 1px solid #cacaca;
  }

  label {
    font-family: 'HelveticaNeue-Medium', Helvetica, sans-serif;
    font-size: 0.75rem;
  }

  .input-field {
    height: 2.5rem;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #a6a6a6;
    background-color: #ffffff;
  }

  .range-input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.8rem;
    margin: -0.3rem 0 0.8rem;

    span {
      width: 1.6rem;
      font-size: 0.9rem;

      &:last-of-type {
        margin-left: 0.4rem;
      }
    }

    input[type="range"] {
      flex: 1;
    }

    input[type="text"] {
      width: 3.125rem;
      font-family: 'HelveticaNeue-Medium', Helvetica, sans-serif;
    }
  }

  $track-h: 0.5rem;
  $thumb-d: 1.5rem;
  $filll-c: #1091cc;
  $track-c: #cacaca;

  @mixin track($fill: 0) {
    box-sizing: border-box;
    border: none;
    border-radius: 0.5rem;
    height: $track-h;
    background: $track-c;

    @if $fill == 1 {
      .js & {
        background: linear-gradient($filll-c, $filll-c)
          0/ var(--sx) 100% no-repeat $track-c;
      }
    }
  }

  @mixin fill() {
    height: $track-h;
    background: $filll-c;
  }

  @mixin thumb() {
    box-sizing: border-box;
    border: none;
    width: $thumb-d;
    height: $thumb-d;
    border-radius: 50%;
    background: white;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.27);
  }

  [type="range"] {
    &, &::-webkit-slider-thumb {
      -webkit-appearance: none;
    }

    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--val) - var(--min))/var(--range));
    --sx: calc(.5*#{$thumb-d} + var(--ratio)*(100% - #{$thumb-d}));
    margin: 0;
    padding: 0;
    outline: none;
    height: $thumb-d;
    background: transparent;
    font: 1em/1 arial, sans-serif;

    &::-webkit-slider-runnable-track {
      @include track(1)
    }
    &::-moz-range-track { @include track }
    &::-ms-track { @include track }

    &::-moz-range-progress { @include fill }
    &::-ms-fill-lower { @include fill }

    &::-webkit-slider-thumb {
      margin-top: .5*($track-h - $thumb-d);
      @include thumb
    }
    &::-moz-range-thumb { @include thumb }
    &::-ms-thumb {
      margin-top: 0;
      @include thumb
    }

    &::-ms-tooltip { display: none }
  }

  .tax-n-insurance-wrapper {
    display: flex;
    justify-content: space-between;

    & > div {
      width: calc(50% - 10px);
    }
  }

  .amount-input-wrapper,
  .tax-input-wrapper,
  .insurance-input-wrapper {
    margin-bottom: 1.125rem;

    label {
      display: inline-block;
      position: relative;
      margin: 0.4rem 0 0.3125rem;

      &:before {
        content: "$";
        position: absolute;
        bottom: -2.125rem;
        left: 0.9375rem;
        font-family: 'HelveticaNeue-Light', Helvetica, sans-serif;
        font-size: 0.875rem;
      }
    }

    input {
      display: block;
      width: 100%;
      padding-left: 1.6rem;
      text-align: left;
      font-size: 0.875rem;
      outline: none;

      &:focus {
        border-color: #3e3d3f;
        box-shadow: 0 0 4px 0 rgba(62, 61, 63, 0.62);
      }
    }
  }

  .missing-field {
    position: relative;
    margin-bottom: 1.3rem;

    &.tax-input-wrapper,
    &.insurance-input-wrapper {
      margin-bottom: 2.25rem;
    }

    input,
    input:focus {
      border-color: #da3535;
    }

    &:after {
      content: "Mandatory field";
      position: absolute;
      bottom: -0.875rem;
      font-family: 'HelveticaNeue-Bold', Helvetica, sans-serif;
      font-size: 0.625rem;
      color: #da3535;
    }
  }

  input[type="submit"] {
    width: 100%;
    height: 2.5rem;
    margin-top: 0.2rem;
    font-family: 'HelveticaNeue-Bold', Helvetica, sans-serif;
    font-size: 0.875rem;
    color: white;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #1091cc;
    transition: background-color 0.3s ease-in-out;

    &:active {
      background: #0077c0;
    }
  }

  .result-panel {
    position: relative;
    padding: 1px 1.25rem 1.6rem;
    z-index: -1;
    background: #eaf6fa;

    h2 {
      margin: 1.5rem 0 1.9rem;
      font-family: 'HelveticaNeue-Medium', Helvetica, sans-serif;
      font-size: 1.2rem;
      letter-spacing: 0;
      color: #3e3d3f;
    }

    .principal-interest-output-wrapper,
    .tax-output-wrapper,
    .insurance-output-wrapper,
    .total-output-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 1px;
    }

    span {
      &:first-child {
        font-size: 0.75rem;
      }

      &:last-child {
        font-family: 'HelveticaNeue-Medium', Helvetica, sans-serif;
        font-size: 0.875rem;
      }
    }

    .total-output-wrapper span:last-child {
      font-size: 1.125rem;
    }

    hr {
      margin: 0.9375rem 0;
      border: none;
      border-bottom: 1px solid #cacaca;
    }
  }
}

.dummy-extra-content {
  height: 50vh;
  padding: 0.9375rem 1.25rem 1.25rem;
}

@media screen and (max-width: 899px) {
  body {
    transform: translateY(var(--body-scroll-offset));
  }

  .container {
    transition: transform 0.4s ease;

    &.pull-up {
      transform: translateY(calc(var(--results-panel-height) * -0.56));
    }
  }

  .calculator {
    margin-bottom: 2.5rem;
    transition: transform 0.4s ease,
                margin-bottom 0.4s ease;

    .result-panel {
      position: absolute;
      width: 100%;
      top: 100%;
      opacity: 0;
      transition: transform 0.4s ease,
                  opacity 0.4s ease;
      transform: translateY(calc(-56% - 2rem));
    }

    &.show-results {
      margin-bottom: calc(var(--results-panel-height) + 2rem);

      .result-panel {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

@media screen and (min-width: 900px) {
  html {
    font-size: 16px;
  }

  .hide-900 {
    display: none;
  }

  .container {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 0.1px;
  }

  h1 {
    margin: 0.8rem 0 1rem 1.875rem;
    font-size: 1.375rem;
  }

  .main-title-divider {
    width: calc(100% - 5rem);
    left: 1.875rem;
  }

  .calculator {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 1.5625rem 0 0 0;

    .input-panel {
      width: 470px;
      margin-left: 70px;
      padding: 2.125rem 2.5rem 2.5rem;
    }

    p {
      font-size: 1rem;
      letter-spacing: 0.6px;
    }

    .panel-title-divider {
      margin: 0.5rem 0 2.125rem;
    }

    label {
      font-size: 0.875rem;
    }

    .range-input-wrapper {
      margin: -0.1rem 0 1.1rem;

      input[type="text"] {
        width: 3.75rem;
        height: 2.8125rem;
        font-size: 1rem;
      }

      span {
        width: 1.8rem;
        font-size: 1rem;

        &:last-of-type {
          margin: 0 0.2rem 0 0.4rem;
        }
      }
    }

    .amount-input-wrapper,
    .tax-input-wrapper,
    .insurance-input-wrapper {
      margin-bottom: 1.75rem;

      label {
        margin-top: 0.1rem;

        &:before {
          bottom: -2.3125rem;
          left: 1.5rem;
          font-size: 1rem;
        }
      }

      input {
        height: 2.8125rem;
        padding-left: 2.375rem;
        font-size: 1rem;
      }
    }

    .missing-field {
      &:after {
        font-size: 0.725rem;
        white-space: nowrap;
      }

      &.amount-input-wrapper:after {
        content: "Loan Amount is mandatory";
      }

      &.tax-input-wrapper:after {
        content: "Annual Tax is mandatory";
      }

      &.insurance-input-wrapper:after {
        content: "Annual Insurance is mandatory";
      }
    }

    input[type="submit"] {
      height: 2.8125rem;
      font-size: 1rem;
    }

    .result-panel {
      width: 272px;
      height: 440px;
      padding: 2.25rem 2.5rem;

      h2 {
        margin: 0.3rem 0 2.25rem;
        font-size: 1.375rem;
        letter-spacing: -0.4px;
      }

      .principal-interest-output-wrapper,
      .tax-output-wrapper,
      .insurance-output-wrapper,
      .total-output-wrapper {
        flex-direction: column;
        align-items: flex-start;
      }

      span {
        &:first-child {
          font-size: 0.875rem;
          letter-spacing: 0.3px;
        }

        &:last-child {
          font-family: 'HelveticaNeue-Bold', Helvetica, sans-serif;
          font-size: 1.125rem;
          line-height: 2;
        }
      }

      &.empty-values span:last-child {
        opacity: 0.2;
      }

      hr {
        margin: 0.7375rem 0;
        border: none;
      }

      .insurance-output-wrapper + hr {
        margin: 1rem 0 1.375rem;
        border-bottom: 1px solid #cacaca;
      }

      .total-output-wrapper {
        span:first-child {
          font-size: 1.125rem;
          line-height: 1.67;
        }

        span:last-child {
          font-size: 1.375rem;
          line-height: 1.36;
        }
      }
    }
  }
}