/* Some styles reseting */
html {
  box-sizing: border-box;
  font-size: 16px; }

*, *:before, *:after {
  box-sizing: inherit; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal; }

ol, ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

/* App styles start here */
@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url("fonts/HelveticaNeueLight.eot?") format("eot"), url("fonts/HelveticaNeueLight.woff") format("woff"), url("fonts/HelveticaNeueLight.woff2") format("woff2"); }

@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: url("fonts/HelveticaNeueMedium.eot?") format("eot"), url("fonts/HelveticaNeueMedium.woff") format("woff"), url("fonts/HelveticaNeueMedium.woff2") format("woff2"); }

@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url("fonts/HelveticaNeueBold.eot?") format("eot"), url("fonts/HelveticaNeueBold.woff") format("woff"), url("fonts/HelveticaNeueBold.woff2") format("woff2"); }

* {
  font-family: 'HelveticaNeue-Light', Helvetica, sans-serif;
  letter-spacing: 0.5px;
  color: #3e3d3f; }

.container {
  position: absolute;
  width: 100%; }

h1 {
  position: relative;
  margin: 1.4375rem 0 0.75rem 1.25rem;
  font-family: 'HelveticaNeue-Light', Helvetica, sans-serif;
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0.5px;
  color: #006ea0; }

.main-title-divider {
  position: relative;
  width: calc(100% - 1.25rem);
  left: 1.25rem;
  margin: 0;
  border: none;
  border-bottom: 1px solid #cacaca; }

.calculator {
  position: relative;
  width: calc(100% - 1.25rem);
  margin: 1.25rem 0.625rem; }
  .calculator .input-panel {
    padding: 0.9375rem 1.25rem 1.25rem;
    border-radius: 0.25rem;
    background: white;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1); }
  .calculator p {
    font-size: 0.75rem;
    line-height: 1.67;
    letter-spacing: 0.4px;
    color: #3e3d3f; }
  .calculator .panel-title-divider {
    position: relative;
    margin: 0.3125rem 0 1rem;
    border: none;
    border-bottom: 1px solid #cacaca; }
  .calculator label {
    font-family: 'HelveticaNeue-Medium', Helvetica, sans-serif;
    font-size: 0.75rem; }
  .calculator .input-field {
    height: 2.5rem;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #a6a6a6;
    background-color: #ffffff; }
  .calculator .range-input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.8rem;
    margin: -0.3rem 0 0.8rem; }
    .calculator .range-input-wrapper span {
      width: 1.6rem;
      font-size: 0.9rem; }
      .calculator .range-input-wrapper span:last-of-type {
        margin-left: 0.4rem; }
    .calculator .range-input-wrapper input[type="range"] {
      flex: 1; }
    .calculator .range-input-wrapper input[type="text"] {
      width: 3.125rem;
      font-family: 'HelveticaNeue-Medium', Helvetica, sans-serif; }
  .calculator [type="range"] {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--val) - var(--min))/var(--range));
    --sx: calc(.5*1.5rem + var(--ratio)*(100% - 1.5rem));
    margin: 0;
    padding: 0;
    outline: none;
    height: 1.5rem;
    background: transparent;
    font: 1em/1 arial, sans-serif; }
    .calculator [type="range"], .calculator [type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none; }
    .calculator [type="range"]::-webkit-slider-runnable-track {
      box-sizing: border-box;
      border: none;
      border-radius: 0.5rem;
      height: 0.5rem;
      background: #cacaca; }
      .js .calculator [type="range"]::-webkit-slider-runnable-track {
        background: linear-gradient(#1091cc, #1091cc) 0/var(--sx) 100% no-repeat #cacaca; }
    .calculator [type="range"]::-moz-range-track {
      box-sizing: border-box;
      border: none;
      border-radius: 0.5rem;
      height: 0.5rem;
      background: #cacaca; }
    .calculator [type="range"]::-ms-track {
      box-sizing: border-box;
      border: none;
      border-radius: 0.5rem;
      height: 0.5rem;
      background: #cacaca; }
    .calculator [type="range"]::-moz-range-progress {
      height: 0.5rem;
      background: #1091cc; }
    .calculator [type="range"]::-ms-fill-lower {
      height: 0.5rem;
      background: #1091cc; }
    .calculator [type="range"]::-webkit-slider-thumb {
      margin-top: -0.5rem;
      box-sizing: border-box;
      border: none;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background: white;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.27); }
    .calculator [type="range"]::-moz-range-thumb {
      box-sizing: border-box;
      border: none;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background: white;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.27); }
    .calculator [type="range"]::-ms-thumb {
      margin-top: 0;
      box-sizing: border-box;
      border: none;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background: white;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.27); }
    .calculator [type="range"]::-ms-tooltip {
      display: none; }
  .calculator .tax-n-insurance-wrapper {
    display: flex;
    justify-content: space-between; }
    .calculator .tax-n-insurance-wrapper > div {
      width: calc(50% - 10px); }
  .calculator .amount-input-wrapper,
  .calculator .tax-input-wrapper,
  .calculator .insurance-input-wrapper {
    margin-bottom: 1.125rem; }
    .calculator .amount-input-wrapper label,
    .calculator .tax-input-wrapper label,
    .calculator .insurance-input-wrapper label {
      display: inline-block;
      position: relative;
      margin: 0.4rem 0 0.3125rem; }
      .calculator .amount-input-wrapper label:before,
      .calculator .tax-input-wrapper label:before,
      .calculator .insurance-input-wrapper label:before {
        content: "$";
        position: absolute;
        bottom: -2.125rem;
        left: 0.9375rem;
        font-family: 'HelveticaNeue-Light', Helvetica, sans-serif;
        font-size: 0.875rem; }
    .calculator .amount-input-wrapper input,
    .calculator .tax-input-wrapper input,
    .calculator .insurance-input-wrapper input {
      display: block;
      width: 100%;
      padding-left: 1.6rem;
      text-align: left;
      font-size: 0.875rem;
      outline: none; }
      .calculator .amount-input-wrapper input:focus,
      .calculator .tax-input-wrapper input:focus,
      .calculator .insurance-input-wrapper input:focus {
        border-color: #3e3d3f;
        box-shadow: 0 0 4px 0 rgba(62, 61, 63, 0.62); }
  .calculator .missing-field {
    position: relative;
    margin-bottom: 1.3rem; }
    .calculator .missing-field.tax-input-wrapper, .calculator .missing-field.insurance-input-wrapper {
      margin-bottom: 2.25rem; }
    .calculator .missing-field input,
    .calculator .missing-field input:focus {
      border-color: #da3535; }
    .calculator .missing-field:after {
      content: "Mandatory field";
      position: absolute;
      bottom: -0.875rem;
      font-family: 'HelveticaNeue-Bold', Helvetica, sans-serif;
      font-size: 0.625rem;
      color: #da3535; }
  .calculator input[type="submit"] {
    width: 100%;
    height: 2.5rem;
    margin-top: 0.2rem;
    font-family: 'HelveticaNeue-Bold', Helvetica, sans-serif;
    font-size: 0.875rem;
    color: white;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #1091cc;
    transition: background-color 0.3s ease-in-out; }
    .calculator input[type="submit"]:active {
      background: #0077c0; }
  .calculator .result-panel {
    position: relative;
    padding: 1px 1.25rem 1.6rem;
    z-index: -1;
    background: #eaf6fa; }
    .calculator .result-panel h2 {
      margin: 1.5rem 0 1.9rem;
      font-family: 'HelveticaNeue-Medium', Helvetica, sans-serif;
      font-size: 1.2rem;
      letter-spacing: 0;
      color: #3e3d3f; }
    .calculator .result-panel .principal-interest-output-wrapper,
    .calculator .result-panel .tax-output-wrapper,
    .calculator .result-panel .insurance-output-wrapper,
    .calculator .result-panel .total-output-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 1px; }
    .calculator .result-panel span:first-child {
      font-size: 0.75rem; }
    .calculator .result-panel span:last-child {
      font-family: 'HelveticaNeue-Medium', Helvetica, sans-serif;
      font-size: 0.875rem; }
    .calculator .result-panel .total-output-wrapper span:last-child {
      font-size: 1.125rem; }
    .calculator .result-panel hr {
      margin: 0.9375rem 0;
      border: none;
      border-bottom: 1px solid #cacaca; }

.dummy-extra-content {
  height: 50vh;
  padding: 0.9375rem 1.25rem 1.25rem; }

@media screen and (max-width: 899px) {
  body {
    transform: translateY(var(--body-scroll-offset)); }
  .container {
    transition: transform 0.4s ease; }
    .container.pull-up {
      transform: translateY(calc(var(--results-panel-height) * -0.56)); }
  .calculator {
    margin-bottom: 2.5rem;
    transition: transform 0.4s ease, margin-bottom 0.4s ease; }
    .calculator .result-panel {
      position: absolute;
      width: 100%;
      top: 100%;
      opacity: 0;
      transition: transform 0.4s ease, opacity 0.4s ease;
      transform: translateY(calc(-56% - 2rem)); }
    .calculator.show-results {
      margin-bottom: calc(var(--results-panel-height) + 2rem); }
      .calculator.show-results .result-panel {
        opacity: 1;
        transform: translateY(0); } }

@media screen and (min-width: 900px) {
  html {
    font-size: 16px; }
  .hide-900 {
    display: none; }
  .container {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 0.1px; }
  h1 {
    margin: 0.8rem 0 1rem 1.875rem;
    font-size: 1.375rem; }
  .main-title-divider {
    width: calc(100% - 5rem);
    left: 1.875rem; }
  .calculator {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 1.5625rem 0 0 0; }
    .calculator .input-panel {
      width: 470px;
      margin-left: 70px;
      padding: 2.125rem 2.5rem 2.5rem; }
    .calculator p {
      font-size: 1rem;
      letter-spacing: 0.6px; }
    .calculator .panel-title-divider {
      margin: 0.5rem 0 2.125rem; }
    .calculator label {
      font-size: 0.875rem; }
    .calculator .range-input-wrapper {
      margin: -0.1rem 0 1.1rem; }
      .calculator .range-input-wrapper input[type="text"] {
        width: 3.75rem;
        height: 2.8125rem;
        font-size: 1rem; }
      .calculator .range-input-wrapper span {
        width: 1.8rem;
        font-size: 1rem; }
        .calculator .range-input-wrapper span:last-of-type {
          margin: 0 0.2rem 0 0.4rem; }
    .calculator .amount-input-wrapper,
    .calculator .tax-input-wrapper,
    .calculator .insurance-input-wrapper {
      margin-bottom: 1.75rem; }
      .calculator .amount-input-wrapper label,
      .calculator .tax-input-wrapper label,
      .calculator .insurance-input-wrapper label {
        margin-top: 0.1rem; }
        .calculator .amount-input-wrapper label:before,
        .calculator .tax-input-wrapper label:before,
        .calculator .insurance-input-wrapper label:before {
          bottom: -2.3125rem;
          left: 1.5rem;
          font-size: 1rem; }
      .calculator .amount-input-wrapper input,
      .calculator .tax-input-wrapper input,
      .calculator .insurance-input-wrapper input {
        height: 2.8125rem;
        padding-left: 2.375rem;
        font-size: 1rem; }
    .calculator .missing-field:after {
      font-size: 0.725rem;
      white-space: nowrap; }
    .calculator .missing-field.amount-input-wrapper:after {
      content: "Loan Amount is mandatory"; }
    .calculator .missing-field.tax-input-wrapper:after {
      content: "Annual Tax is mandatory"; }
    .calculator .missing-field.insurance-input-wrapper:after {
      content: "Annual Insurance is mandatory"; }
    .calculator input[type="submit"] {
      height: 2.8125rem;
      font-size: 1rem; }
    .calculator .result-panel {
      width: 272px;
      height: 440px;
      padding: 2.25rem 2.5rem; }
      .calculator .result-panel h2 {
        margin: 0.3rem 0 2.25rem;
        font-size: 1.375rem;
        letter-spacing: -0.4px; }
      .calculator .result-panel .principal-interest-output-wrapper,
      .calculator .result-panel .tax-output-wrapper,
      .calculator .result-panel .insurance-output-wrapper,
      .calculator .result-panel .total-output-wrapper {
        flex-direction: column;
        align-items: flex-start; }
      .calculator .result-panel span:first-child {
        font-size: 0.875rem;
        letter-spacing: 0.3px; }
      .calculator .result-panel span:last-child {
        font-family: 'HelveticaNeue-Bold', Helvetica, sans-serif;
        font-size: 1.125rem;
        line-height: 2; }
      .calculator .result-panel.empty-values span:last-child {
        opacity: 0.2; }
      .calculator .result-panel hr {
        margin: 0.7375rem 0;
        border: none; }
      .calculator .result-panel .insurance-output-wrapper + hr {
        margin: 1rem 0 1.375rem;
        border-bottom: 1px solid #cacaca; }
      .calculator .result-panel .total-output-wrapper span:first-child {
        font-size: 1.125rem;
        line-height: 1.67; }
      .calculator .result-panel .total-output-wrapper span:last-child {
        font-size: 1.375rem;
        line-height: 1.36; } }

/*# sourceMappingURL=styles.css.map */